@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
* {
  background: pink;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
p {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

footer {
  font-size: 1.6em;
  font-family: 'Amatic SC', cursive;
  padding: 7px;
}
footer a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

footer a:hover {
  text-decoration-line: underline;
}
